@font-face {
  font-family: "Figtree";
  src: url("../../assets/fonts/Figtree-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

/* override Bootstrap variables for root */
:root {
  --bs-body-bg: rgb(244 208 78);
  --bs-border-radius: 10px;
  --bs-body-font-family: Figtree, serif;
  --bs-box-shadow-lg: 8px 8px 0px 0px #000;
}

.bg-warning {
  background-color: rgb(244 208 78) !important;
}

.card {
  border-radius: 20px;
}

.author img {
  width: 32px;
}

@media all and (max-width: 430px) {
  .card > img {
    height: 200px;
    object-fit: cover;
  }

  .content h2 {
    font-size: 20px;
  }

  .content p {
    font-size: 14px;
  }

  .content .category,
  .content .date {
    font-size: 12px;
  }
}
